<!--<div class="container mt-4">
  <div class="row">
    <div class="col-md-4" *ngFor="let restaurant of restaurants">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ restaurant.name }}</h5>
          <p class="card-text">{{ restaurant.description }}</p>
          <p class="card-text">{{ restaurant.location }}</p>
          <p class="card-text">{{ restaurant.contactNo }}</p>
          <p class="card-text">{{ restaurant.openingHours }}</p>
          <button class="btn btn-primary" (click)="editRestaurant(restaurant.id)">Edit</button>
          <button class="btn btn-danger" (click)="deleteRestaurant(restaurant.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 mb-4" *ngFor="let restaurant of paginatedRestaurants">
    <div class="card" style="width: 18rem;">
      <img src="{{ restaurant.imageUrl }}" class="card-img-top" alt="{{ restaurant.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ restaurant.name }}</h5>
        <p class="card-text">{{ restaurant.description }}</p>
        <p class="card-text">{{ restaurant.location }}</p>
        <p class="card-text">{{ restaurant.contactNo }}</p>
          <p class="card-text">{{ restaurant.openingHours }}</p>
        <button class="btn btn-primary" (click)="editRestaurant(restaurant.id)">Edit</button>
        <button class="btn btn-danger" (click)="deleteRestaurant(restaurant.id)">Delete</button>
      </div>
    </div>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="previousPage()">Previous</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="nextPage()">Next</a>
    </li>
  </ul>
</nav>--
<div class="row">
  <div class="col-md-4 mb-4" *ngFor="let restaurant of paginatedRestaurants">
    <div class="card" style="width: 18rem;">
      <img src="assets/pexels-julie-aagaard-2097090.jpg" class="card-img-top" alt="{{ restaurant.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ restaurant.name }}</h5>
        <p class="card-text">{{ restaurant.description }}</p>
        <p class="card-text">{{ restaurant.location }}</p>
        <button class="btn btn-primary" (click)="editRestaurant(restaurant.id)">Edit</button>
        <button class="btn btn-danger" (click)="deleteRestaurant(restaurant.id)">Delete</button>
      </div>
    </div>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="previousPage()">Previous</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="nextPage()">Next</a>
    </li>
  </ul>
</nav>-->
<div class="row">
  <div class="col-md-4 mb-4" *ngFor="let restaurant of paginatedRestaurants">
    <div class="card" style="width: 18rem;" (click)="viewRestaurant(restaurant.id)">
      <img src="assets/pexels-julie-aagaard-2097090.jpg" class="card-img-top" alt="{{ restaurant.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ restaurant.name }}</h5>
        <p class="card-text">{{ restaurant.description }}</p>
        <p class="card-text">{{ restaurant.location }}</p>
        <button class="btn btn-primary" (click)="editRestaurant(restaurant.id)">Edit</button>
        <button class="btn btn-danger" (click)="deleteRestaurant(restaurant.id)">Delete</button>
      </div>
    </div>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="previousPage()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" *ngFor="let page of totalPagesArray" [class.active]="page === currentPage">
      <a class="page-link" (click)="setPage(page)">{{ page }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="nextPage()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
